.extraspace{
    line-height: 3em;
font-weight: bold;
}

div.topbar, div.fill{
	z-index:9999999;
}

section, #signup_form_html{
	padding-top: 40px; 
	margin-top: -40px;
}

.prizes_ul li{
	color:#404040;
}

.title_sponsors img {
	margin-bottom: 10px;
	width: 250px;
	height: 50px;
}

.centered_table td, .centered_table th{
	text-align: center;
}

.large_sponsors_logos{
	text-align: center;
}

.large_sponsors_logos img {
	margin-left:auto;
	width: 500px;
	height: 100px;
	margin-bottom: 30px;
}

.sponsors {
	width: 468px;
	height: 130px;
}

.emaildomain {
	color: #404040 !important;
}

.placeholderRight {
	text-align: right !important;
}

body {
	padding-top: 60px;
}